<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/users.js"></script>
</head>

<hader>
    <nav>
        <ul class="nav nav-tabs">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/create">Create </a></li>
        </ul>
    </nav>
</hader>


<body>
    <div class="container-fluid">
    <h1><%= title %></h1>
        <div class="row">
            <div role="main" class="col-md-9">

            </div>
            <div role="sidebar" class="col-md-3">
                <aside>
                    <nav>
                        <div class="list-group">
                            <% for(var key in user_list) {%>
                                <% var user = user_list[key]; %>
                                    <a href="/user/<%= user._id %>" class="list-group-item"><%= user.last_name %></a>
                            <% } %>
                        </div>
                    </nav>
                </aside>
            </div>
        </div>
    </div>
</body>
</html>